 @import'./variables';
 body{
     font-family: 'Lato',sans-serif;
     -webkit-font-smoothing:antialiased;
     color:$dark;
 }
 nav li:last-child a {
     background-color: $primary;
     &:hover{
        background-color: $primary-hover;
      }
 }
 nav li a {
     transition:$smooth;
    &:hover{
      color: $primary;
    }
  }
  section.hero{
      background: $secondary;
  }
  .size{
      background: $secondary;
  }
  .add-to-cart{
      border:2px solid $primary;
      color:$primary;
      &:hover{
          background-color: $primary;
          color: $pure;
          border-color: $pure;
      }
      transition: $smooth;
  }